extends layout
block stylesheets
  link(rel='stylesheet', href='/stylesheets/infoPage.css')
block body
  mixin chunk(title, sub)
    .container
      .page-header
        h1 #{title}
        p.lead <i>#{sub}</i>
      if block
        block
      else
        p I'll think of something later.

  mixin list(items)
    ul
      each item in items
        li= item
  div.jumbotron
    div.container
      h1 About Me 
      p The part where I get to talk about myself. And how awesome I am.
  +chunk('Education', "So important it's first.")
    p Self-education is a subject that I am hugely fond of. Having experienced state education in Tennessee (through Heritage High School and Tennessee Tech University), I know that in order to make the leaps and bounds that my dreams demand, I have to take my education into my own hands. Since January of 2015; the things that I learn, how I learn them, and the attitude I have towards learning have been going through huge positive changes.
    p <i>So what do you learn about?</i>
    p I'm glad you asked! My primary subject material include:
    +list(['Programming', 'History', 'Psychology/Sociology', 'Music', 'Business'])
    p My programming education revolves around the creation of this website and other projects; such as server-side applications, program creation, and problem-solving. Programming has been a part of my life since October 2014; not a long time compared to some, however I have learned more in 6 months than some programmers learn in their entire lifetime.
    p History is one of the most important subjects to know thoroughly and completely. A knowledge of all aspects of History can prevent major mistakes, explain interpersonal behavior, and expand your mind to a level of understanding through comparison. Regardless of any background, a knowledge of History does a wealth of good.
    p Psychology and Sociology (referred to as cognative studies), is a key component of success. In order to make money, find love, meet friends, and enjoy life to its fullest, one must interact with other human beings. Having a knowledge of how certain people react, socialize, and become interested in something requires some degree of both empathy and social awareness. Cognative studies is a way to sharpen those skills and become more outwardly focused, emphesizing understanding others and how you fit in the puzzle of your ever changing social situation. A fun area of study, indeed.
    p Music is awesome. Never has something been able to invoke the vast array of emotions that music does. Anger, frustration, temptation, relief, sadness, revitalization, exhaustion; all emotions invoked through music. I produce my own music, through vocal improvisation and composition and playing percussion, mainly drums as well.
    p While Cognative Studies focuses on interpersonal relationships, Business focuses on resource management; the cold-hearted, calculated part if you will. Arranging business agreements, self-promotion, time-management, and feesibility analysis are all a part of my personal business-plan. Learning about Business is the part of my education that is in the greatest need for improvement, as my experience with it is little.

