extends layout
block head
  title Uh oh! | Action
block body 
  div(class='row' style='width: 100%')
    div(class='col-md-4 col-xs-6')
      img(src='/images/under_construction.jpg')
    div(class='col-md-8 col-xs-6')
      h1 Uh oh, we got us a big ol' #{error.status}! :(
      p #{error}
