extends layout
block stylesheets
  link(href='/stylesheets/landing.css' rel='stylesheet')
block body
  div(class='jumbotron' id='mainBanner' )
    div(class='container')
      h1 The Greatest Man in the World.
      p This is a website dedicated to the story of Kris Molinari: part web-developer, part scholar, part musician, 100% amazing.
  div(class='container' id='content')
    div(class='row')
      div(class='col-md-6 col-xs-6')
        h2 Making the Web Cool.
        p Playing the part of paying my bills, web-development is my professional skill of choice. From organizing web blogs (similar to this one) to putting together a professional looking website for a business, check out my resume to see my work.
        p
          a(class='btn btn-primary' href="/resume" role="button") My Resume &raquo; 
      div(class='col-md-6 col-xs-6')
        h2 Preaching the Power of Self-Education.
        p One of my primary passions is empowerment through education. Learn about my story and the learn the lessons everyone can gain from and contribute to on my blog.
        p
          a(class='btn btn-primary' href='/about' role='button') About me &raquo; 
          a(class='btn btn-primary' href='/blog' role='button') My blog &raquo;
    div.cookies
      -if (sessionData)
        p= sessionData.username
      -if (sessionData)
        p= sessionData.permissions
      -if (cookies)
        p= JSON.stringify(cookies)
      -else
        p No cookies :(
