extends layout

block body
    block title
      .container
        .page-header
          h1 Sign in for more fun!
    block inputs
      .container
        form.loginPlz.form-horizontal
          .form-group
            label(for="username").col-xs-2.col-lg-2.control-label Username
            div.col-xs-10.col-lg-9
              input(type="text" placeholder="Username").form-control#username
          .form-group
            label(for="pswd").col-xs-3.col-lg-2.control-label Password
            div.col-xs-9.col-lg-9
              input(type="password" placeholder="Password").form-control#pswd
          block others
            .form-group
              .col-xs-offset-3.col-lg-offset-2.col-xs-8.col-lg-9
                .checkbox
                  label
                    input(type="checkbox")
                    p Remember me
            .form-group
              .col-lg-offset-2.col-xs-12.col-lg-9
                button(type="button")#signIn.btn.btn-primary Sign-In
                a(href="/signup")
                  button(type="button").btn.btn-info Sign-Up
      div(style="display: none").badmessage.alert.alert-danger
        p
append scripts
  script(src="/javascripts/loginScript.js")
