extends layout

block body
  .container
    .jumbotron
      .container
        h1 User Management.
        p.lead Be very careful here. This is semi-sensitive data.
  .container
    each user in users
      h2= user.username
      ul
        li Email: #{user.email}
        li Priviliges:
        ul
          each perm in user.priviliges
            li= perm
      button.changePerms.btn.btn-info Edit Permissions
      button.blacklist.btn.btn-danger Blacklist this Email
