* {
  color: #777;
}

body {
  background-color: #b0d692;
}

.navbar-inverse {
  background-image: linear-gradient(to bottom, #305612 0px, #1d330b 100%);
  border-color: #1d330b;
  background-repeat: repeat-x;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #281e05;
  border-color: #5e460c;
}

#sideBar {
  position: fixed;
  display: inline-block;
  float: left;
  width: 18%;
  min-width: 100px;
  max-width: 200px;
}

.page-header {
  border-bottom: 1px solid #8b5a00;
}

.jumbotron {
  margin-top: 15px;
  background-color: #cfc1a0;
  border-color: #281e05 !important;
}

.jumbotron h1 {
  color: #433209;
}

#content {
  display: inline-block;
  position: relative;
  float: none;
  margin-left: 26%;
  width: 72%;
  border: 1px solid #8b5a00;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 0px 3px 3px #8b5a00;
  background-color: #3a6716;
  padding: 2%;
}

.content {
  background-color: #eff6e9;
  padding: 5px;
  padding-left: 5%;
}

@media screen and (max-width: 600px) {
  #content {
    margin-left: 30%;
    width: 66%;
  }
}

.content:first-child {
  border-radius: 4px 4px 0px 0px;
}

.content:last-child {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom-right-radius:4px;
  border-bottom-left-radius: 4px;
}

h1 {
  color: #fff;
}

h2, h3, h4 {
  color: #433209;
}

.lead {
  color: #444;
}

#container p {
  color: #444;
}

.list-group-item {
  background-color: #dfeed3;
}

.list-group-item:hover {
  background-color: #eff6e9;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-image: linear-gradient(to bottom, #61ad25 0px, #437919 100%);
  border-color: #437919;
}

#langs {
  width: 100%;
}

#container {
  width: inherit;
}
